{% layout "base" %}
{% block content %}

  <p>
    Megkaptuk a jelszó módosítási kérelmed a
    <i>{{ projectName }}</i>
    fiókodhoz. Ha nem te kérvényezted, kérlek vedd fel a kapcsolatot a kapcsolattartóddal. Amennyiben te kérvényezted, a lenti linkre kattintva add meg az új jelszavad.
  </p>

  <p style="text-align: center; padding: 20px 0;">
    <a href="{{ url }}">
      <b>Jelszó visszaállítása</b>
    </a>
  </p>

  <p>
    <b>Fontos: Ez a link le fog járni 24 óra múlva.</b>
    <br>
  </p>

  <p>
    Üdvözlettel,<br>
    A {{ projectName }} Csapata
  </p>

{% endblock %}